#ball {
  font-size: 40px;
  position: fixed;
  top: 12px;
  right: 12px;
  cursor: pointer;
  opacity: 0.8;
  color: #333;
  width: 40px;
}

/* .dichuyen {
  animation: lenxuong 0.6s ease-out alternate;
  animation-iteration-count: 6;
} */
.dichuyen {
  animation: lenxuong 0.8s ease-out alternate;
  animation-iteration-count: 8;
}

.nenbong {
  background-color: transparent;
  width: 40px;
  height: 4px;
  display: block;
  position: absolute;
  left: 0px;
  top: 74px;
  animation: tat_lenxuong 0.8s ease-out alternate;
  animation-iteration-count: 8;
}

@keyframes lenxuong {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(0) rotate(12deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(36px);
  }
}

@keyframes tat_lenxuong {
  0% {
    transform: translateY(0);
    background-color: transparent;
  }
  40% {
    background-color: transparent;
    transform: translateY(0);
  }
  50% {
    background-color: transparent;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-36px);
    background-color: #333;
  }
}
